version: '3'

services:
  redis:
    image: redis:4-alpine

  bot:
    image: pbzweihander/rust-trending-discord:latest
    depends_on:
      - redis
    volumes:
      - /srv/rust-trending-discord/config.toml:/app/config.toml
